


/*this is styling for the background image */

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

/*this is ends styling for the background image */


/*this is styling for the "ADMIN" nav */

.adminnav {

    float: right;
    padding: 1rem;
}

.admin {
    font-weight: 300;
    font-size: .75rem;
    text-transform: uppercase;
    color: white;
}


/*this is styling for the header */

header {
    font-weight: 100;
    font-size: 5em;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    width: 40%;
   
}

/*this is ends styling for the header */



/*this is styling for the nav links that will change up the copy and photos found on the gallery page*/

.categories {
    font-weight: 400;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 40%;
}

div {
    display: flex;
    align-items: center;
    color: rgb(12, 13, 34);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255,255,255, 1));
    height: 1rem;
    width: 100%;
    padding: 1rem;
}

#lastlink {
    margin-bottom: 10%;
}

a:link {
    color: rgb(12, 13, 34);
    text-decoration: none;
}

a:hover {
    color: rgb(179, 59, 148);
}

a:active {
    color: rgb(179, 59, 148);
}

/*this ends styling for the nav inks that will change up the copy and photos found on the gallery page*/



/*this begins styling for the colored block and the category copy that lies within the block*/

.categoryCopyBlock {
    width: 40%;
    background-color: rgba(12, 13, 34, .6);
    padding: 1rem;
}
span {
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: rgb(179, 59, 148);
}
p {
    font-weight: 100;
    font-size: .875rem;
    line-height: 2em;
    color: rgb(255, 255, 255);

}


/*this begins styling for the colored block and the category copy that lies within the block*/

.mainnav {
    padding: 1rem;
    width: 40%;
}

.buttons {
    font-weight: 300;
    font-size: .75rem;
    display: inline-block;
    justify-content: space-evenly;
    border-radius: .5rem;
    padding: .5rem;
    margin: 0 2% 2% 0;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(.25turn, #b33694, #371d5a);
}